:root {
    --main-red-color:#da251d;
    --main-gray-color:#f5f5f5;
    --main-medium-gray-color:#DDD;
    --main-medium-gray-color-t:#AAAAAACC;
    --main-dark-gray-color:#888;
    --main-white-color:#fff;
    --main-black-color:#000;
    --main-gren-color:#28a745;
    
  }
